.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
    border-radius: 16px;
    height: max-content;
}

.chartHeader {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ffffff;
    justify-content: space-between;
    height: 20%;
}

.headerLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chartTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: white;
    letter-spacing: 0.15px;
}

.chartDate {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #D9D9D9;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerRight img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.chartBody {
    width: 100%;
}