.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 8px;
    min-width: 437px;
    max-width: 437px;
    height: 400px;
    background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
    border-radius: 16px;
    justify-content: space-around;
}

.container img {
    width: 38px;
    height: 38px;
}

.cardHeader {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #50D1AA;
    font-weight: 500;
    font-size: 12px;
}

.cardBody {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardFooter {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #9290FE;
}

.cardImage {
    align-self: center;
}

.cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.plus {
    border-radius: 50%;
    height: 100px !important;
    width: 100px !important;
    cursor: pointer;
    box-shadow: 0;
    transition: box-shadow .6s;
}

.plus:hover {
    box-shadow: 3px -1px 20px 3px rgba(0, 0, 0, 0.2);

}