.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 322px;
    height: 143px;
    background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
    border-radius: 16px;
    justify-content: space-between;
}

.container img {
    width: 38px;
    height: 38px;
}

.cardHeader {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #50D1AA;
    font-weight: 500;
    font-size: 12px;
}

.cardBody {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
}

.cardFooter {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #9290FE;
}