.container {
    width: 100%;
    height: 100vh;
    padding: 0 40px;
    margin-top: 24px;
    overflow: scroll;
    margin-bottom: 10vh;
}

.headerText {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.25px;
    /* White */

    color: #FFFFFF;
}

.topCards {
    display: flex;
    gap: 24px;
    margin-top: 29px;
}

.topRightItem {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 4px;
    gap: 8px;
    width: max-content;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    flex-direction: row;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topRight {
    display: flex;
    gap: 16px;
}

.headerText img {
    margin-left: 4px;
}

.charts {
    margin-top: 24px;
}