@import './settings/_Settings';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.App {
	--leading-color: #{$secondaryColor};
	--button-text-color: #{white};
	--hue-value: 172deg;
	font-family: 'Inter', sans-serif;
	background-image: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
	overflow-y: scroll;
	height: 100vh;
	background-size: 400% 400%;
	animation: backgroundAnimation 10s ease-in-out infinite;

	// cursor: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 143 162' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_62_8388)'%3E%3Cpath d='M43.6813 136.441L20.9996 24L117.869 82.5829L71.0883 95.3387L43.6813 136.441Z' fill='%235551FF'/%3E%3Cpath d='M43.6813 136.441L20.9996 24L117.869 82.5829L71.0883 95.3387L43.6813 136.441Z' fill='%23EE57A6' stroke='black' stroke-width='8' stroke-linecap='square'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_62_8388' x='0.27832' y='0.865234' width='142.644' height='160.81' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='7.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.933333 0 0 0 0 0.341176 0 0 0 0 0.65098 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_62_8388'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_62_8388' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") 81 81, auto;
}

.App.AI {
	--leading-color: #{$primaryColor};
	--button-text-color: #{$darkThemeSecondColor};
	--hue-value: 120deg;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 8px;
	background: #D9D9D9;
	border-radius: 19px;
}

::-webkit-scrollbar-thumb {
	background: #FFB572;
	box-shadow: 0px 0px 15px rgba(255, 179, 114, 0.8);
	border-radius: 19px;
}

@keyframes backgroundAnimation {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}